name: build mesa

on:
 push:
    branches:
      - main

jobs:
 extract:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: install dependencies
      run: |
        brew install pip3
        brew install pkg-config
        brew install bison
        brew install llvm
        brew install meson
        brew install libclc
        brew uninstall cmake
        pip3 install mako

    - name: clone and compile
      run: |
        git clone https://gitlab.freedesktop.org/mesa/mesa
        cd mesa
        meson setup build -Dgallium-drivers=zink,iris,swrast -Dvulkan-drivers= --prefix=~/mesa-drivers
        ninja -C build install